.file-upload-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #6D9C48;
    border-radius: 25px;
    padding: 10px; 
    width: 70%; 
    height: 45px; 
    background-color: white;
    box-sizing: border-box; 
    margin: 0 auto; 
}

.custom-file-upload {
    background-color: #6D9C48;
    color: white;
    padding: 5px 15px; 
    font-size: 14px; 
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; 
    flex-shrink: 0; 
}

.custom-file-upload:hover {
    background-color: #e6b800;
}

#file-name {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: left; 
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.edit-form-container {
    text-align: center;
    margin-top: 20px;
}

.edit-form-container input {
    width: 70%;
    height: 45px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 2px solid #6D9C48;
    padding: 10px;
}

.edit-form-container button {
    background-color: #FFCD00;
    color: white;
    border: none;
    width: 60%;
    height: 50px;
    font-size: 18px;
    border-radius: 25px;
    margin-top: 20px;
}

.greeting {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    font-family: 'EliceDigitalBaeum-Bd', sans-serif;
}

.card-container {
    padding: 10px;
}

.profile-card:nth-child(even) {
    background-color: #F9F4E2;
}

.profile-card:nth-child(odd) {
    background-color: #E3F2E1;
}

.profile-card {
    background-color: #FFF;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.profile-card img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

.profile-info {
    margin-left: 15px;
}

.profile-info h5 {
    margin: 0;
    font-family: 'EliceDigitalBaeum-Bd';
}

.profile-info p {
    margin: 5px 0;
    font-size: 14px;
}

.edit-button {
    font-size: 12px;
    color: #7F7F7F;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.delete-button {
    margin-left: auto; 
    font-size: 12px;
    color: #7F7F7F;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.add-account {
    color: #7F7F7F;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.profile-edit {
    margin-left: auto;
    font-size: 12px;
    color: #7F7F7F;
    cursor: pointer;
}