{% extends 'base_children.html' %}



{% block title %}모아모아 :: 똑똑한 용돈 관리 습관{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ static('css/chatbot.css') }}">
<div class="chat-container">
  <div class="chat-history" id="chat-history"></div>
  <div class="chat-input-container" id="chat-input-container">
    <input type="hidden" id="childPk" value="{{ child_pk }}">
    <input type="hidden" id="userId" value="{{ user.id }}">
    <input type="hidden" id="username" value="{{ user.first_name }}">
    <input type="hidden" id="userProfileImage" value="{{ user_image }}">
    <input type="hidden" id="isChild" value="{% if user.parents_id %}true{% else %}false{% endif %}">
    <div class="input-group">
      <!-- <button id="voice-button" class="voice-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path>
          <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
          <line x1="12" y1="19" x2="12" y2="23"></line>
          <line x1="8" y1="23" x2="16" y2="23"></line>
        </svg>
      </button> -->
      <input type="text" id="chat-input" placeholder="메시지를 입력하세요...">
      <button id="send-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="22" y1="2" x2="11" y2="13"></line>
          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg>
      </button>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.10/purify.min.js"></script>
<script>
  const chatHistory = document.getElementById('chat-history');
  const chatInput = document.getElementById('chat-input');
  const sendButton = document.getElementById('send-button');
  const voiceButton = document.getElementById('voice-button');
  let isRecording = false;

  // chat_id 변수 추가
  const chatId = "{{ chat_id or '' }}";

  function getChildPkFromUrl() {
    const pathSegments = window.location.pathname.split('/');
    return pathSegments[pathSegments.length - 2];
  }

  function decodeHTMLEntities(text) {
    const textArea = document.createElement('textarea');
    textArea.innerHTML = text;
    return textArea.value;
  }

  function formatTimestamp(timestamp) {
    const date = new Date(timestamp);
    return date.toLocaleString('ko-KR', { hour: '2-digit', minute: '2-digit' });
  }

  function loadChatHistory() {
    const childPk = getChildPkFromUrl();
    fetch(`/api/v1/diary/chat/messages/${childPk}/`, {
      method: 'GET',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        if (response.status === 403) {
          window.location.href = '/access-error/';
          return;
        }
        if (response.status === 401) {
          window.location.href = '/login/';
          return;
        }
        return response.json();
      })
      .then(data => {
        chatHistory.innerHTML = '';

        if (data && Array.isArray(data.response)) {
          data.response.forEach(message => {
            const messageContainer = document.createElement('div');
            messageContainer.classList.add('message-container');
            messageContainer.classList.add(message.type === 'USER' ? 'chat-right' : 'chat-left');

            const usernameElement = document.createElement('div');
            usernameElement.classList.add('chat-username');

            const profileImage = document.createElement('img');
            profileImage.src = message.user_profile_image || message.ai_profile_image;
            profileImage.alt = 'Profile';
            profileImage.classList.add('profile-image');

            usernameElement.appendChild(profileImage);
            usernameElement.appendChild(document.createTextNode(message.type === 'USER' ? message.username : message.ai_name));

            const messageElement = document.createElement('div');
            messageElement.classList.add('chat-bubble');

            let decodedContent = decodeHTMLEntities(message.content);
            const jsonBlockRegex = /```json[\s\S]*?```/g;
            const isChild = document.getElementById('isChild').value === 'true';
            const successMsg = isChild ? '용돈기입장에 성공적으로 저장되었어요!😀' : '가계부에 성공적으로 저장되었어요!😀';
            decodedContent = decodedContent.replace(jsonBlockRegex, successMsg);

            let formattedContent = decodedContent.trim();
            if (formattedContent) {
              formattedContent = formattedContent
                .replace(/\n\n/g, '<br>')
                .replace(/\n/g, '<br>')
                .replace(/\"1\. /g, '<br> 1.')
                .replace(/\"2\. /g, '<br> 2.')
                .replace(/---/g, '')
                .replace(/\? /g, '?<br>')
                .replace(/\"/g, "")
                .replace(/\*\*(.+?)\*\*/g, '<strong>$1</strong>')
                .trim();

              const sanitizeConfig = {
                ALLOWED_TAGS: ['br', 'strong'],
                KEEP_CONTENT: true
              };

              const sanitizedContent = DOMPurify.sanitize(formattedContent, sanitizeConfig);
              messageElement.innerHTML = sanitizedContent;
            }

            const timestampElement = document.createElement('div');
            timestampElement.classList.add('timestamp');
            timestampElement.textContent = formatTimestamp(message.timestamp);

            messageContainer.appendChild(usernameElement);
            messageContainer.appendChild(messageElement);
            messageContainer.appendChild(timestampElement);
            chatHistory.appendChild(messageContainer);
          });
          chatHistory.scrollTop = chatHistory.scrollHeight;
        }
      })
      .catch(error => {
        console.error('Fetch error:', error);
      });
  }

  function sendMessage() {
    const message = chatInput.value.trim();
    if (message) {
      const childPk = getChildPkFromUrl();
      const username = document.getElementById('username').value;
      const userProfileImage = document.getElementById('userProfileImage').value;
      chatInput.disabled = true;
      chatInput.value = '';
      chatInput.placeholder = '모아모아가 생각 중입니다...🤔';

      const messageContainer = document.createElement('div');
      messageContainer.classList.add('message-container', 'chat-right');

      const usernameElement = document.createElement('div');
      usernameElement.classList.add('chat-username');

      const profileImage = document.createElement('img');
      profileImage.src = userProfileImage;
      profileImage.alt = 'Profile';
      profileImage.classList.add('profile-image');

      usernameElement.appendChild(profileImage);
      usernameElement.appendChild(document.createTextNode(username));

      const messageElement = document.createElement('div');
      messageElement.classList.add('chat-bubble');
      messageElement.innerHTML = message.replace(/\n/g, '<br>');

      const timestampElement = document.createElement('div');
      timestampElement.classList.add('timestamp');
      timestampElement.textContent = formatTimestamp(new Date());

      messageContainer.appendChild(usernameElement);
      messageContainer.appendChild(messageElement);
      messageContainer.appendChild(timestampElement);
      chatHistory.appendChild(messageContainer);
      chatHistory.scrollTop = chatHistory.scrollHeight;

      const payload = { message: message, child_pk: childPk };
      if (chatId) {
        payload.chat_id = chatId;
      }

      fetch('/api/v1/diary/chat/', {
        credentials: 'include',
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(payload)
      })
        .then(response => response.json())
        .then(data => {
          loadChatHistory();
          chatInput.disabled = false;
          chatInput.placeholder = '메시지를 입력하세요...';
          chatInput.focus();
        })
        .catch(error => {
          console.error('Error:', error);
          chatInput.disabled = false;
          chatInput.placeholder = '메시지를 입력하세요...';
        });
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    sendButton.addEventListener('click', sendMessage);
    chatInput.addEventListener('keypress', function (e) {
      if (e.key === 'Enter') {
        sendMessage();
      }
    });
    // voiceButton.addEventListener('click', toggleVoiceRecording);

    loadChatHistory();
  });

  function adjustChatHistoryHeight() {
    const chatInputContainer = document.getElementById('chat-input-container');
    const chatHistory = document.getElementById('chat-history');
    const chatInputHeight = chatInputContainer.offsetHeight;
    chatHistory.style.height = `calc(100vh - ${chatInputHeight}px - 60px)`;
  }

  window.addEventListener('load', adjustChatHistoryHeight);
  window.addEventListener('resize', adjustChatHistoryHeight);
</script>
{% endblock %}